body {
    font-family: sans-serif;
}

.main {
    padding: 20px 40px;
    margin: 10px 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: tomato;
}

input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
}

.hide {
    display: none;
}
