@import url(http://fonts.googleapis.com/css?family=Kite+One);


body {
    font-family: 'Kite One', sans-serif;
}

.main {
    padding: 20px 40px;
    margin: 10px 30px;
    box-shadow: 1px 1px 2px black;
    border-radius: 3px;
    background-color: tomato;
}
