<script type="text/javascript" src="/__morgen/js/globals.js"></script>
<script type="text/javascript" src="/__morgen/js/route.js"></script>
<script type="text/javascript" src="/__morgen/js/render.js"></script>
<script type="text/javascript" src="/__morgen/js/db.js"></script>
<script type="text/javascript" src="/__morgen/js/proxy.js"></script>
<script type="text/javascript" src="/__morgen/js/core.js"></script>
<script type="text/javascript" src="/__morgen/js/utils.js"></script>
<script type="text/javascript" src="/__morgen/js/watchdog.js"></script>
<script type="text/javascript" src="/__morgen/js/broadcast.js"></script>
<script type="text/javascript" src="/__morgen/js/history.js"></script>
