<link href="/static/morgenjs/css/styles.css" rel="stylesheet" />
<script type="text/javascript" src="/static/morgenjs/globals.js"></script>
<script type="text/javascript" src="/static/morgenjs/route.js"></script>
<script type="text/javascript" src="/static/morgenjs/render.js"></script>
<script type="text/javascript" src="/static/morgenjs/db.js"></script>
<script type="text/javascript" src="/static/morgenjs/core.js"></script>
<script type="text/javascript" src="/static/morgenjs/utils.js"></script>
<script type="text/javascript" src="/static/morgenjs/watchdog.js"></script>
<script type="text/javascript" src="/static/morgenjs/broadcast.js"></script>
<script type="text/javascript" src="/static/morgenjs/history.js"></script>
