<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MorgenJS</title>

    <script type="text/javascript" src="/static/doT.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
</head>

<body>

    <h1>MorgenJS</h1>

    <p>Welcome to MorgenJS.</p>
    <p>MorgenJS combines Python and Javascript to provide an extremely fast and light environment to build and test your Javascript apps.</p>


    <div data-app>
    </div>

    <script type="text/javascript" src="/static/myapp.js"></script>
</body>
</html>

