<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MorgenJS</title>

    <script type="text/javascript" src="/static/morgenjs/globals.js"></script>
    <script type="text/javascript" src="/static/morgenjs/core.js"></script>
    <script type="text/javascript" src="/static/morgenjs/watchdog.js"></script>
    <script type="text/javascript" src="/static/morgenjs/run.js"></script>
    <link href="/static/css/styles.css" rel="stylesheet" />

</head>

<body>

    <div data-scope="main"></div>


    <script type="text/javascript" src="/static/header.js"></script>
    <script type="text/javascript" src="/static/item.js"></script>
    <script type="text/javascript" src="/static/list.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>

