body {
    margin: 10px;
    font-family: sans-serif;
    color: #eee;
    background-color: tomato;

    /*
    background-color: #111;
    */
}

h1.hand {
    font-size: 80px;
    font-weight: bold;
    text-align: left;
}

h1 {
    font-size: 1em;
    text-align: center;
}

#main {
    max-width: 400px;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    padding: 0;
}

li {
    margin: 10px;
}

.done {
    text-decoration: line-through;
}


.hide {
    display: none;
}
